  body {
      margin: 0;
      padding: 20px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      background-image: url('../img/fundo.jpg');
      background-size: cover;     
      background-position: center; 
      background-repeat: no-repeat;
      backdrop-filter: blur(20px)
    }
 
 footer {
      color: white;
      text-align: center;
      padding: 15px 0;
      height: 500px;
    }
.barra_menu{
    background-color: black;
    width: 100%;
    text-align: center;
    border: solid rgb(67, 46, 7);
    margin: 30px;
    padding: 20px;
}
.h1{
    text-align: center;
    color: brown
}
.h1:hover{
    background-color: greenyellow;
    border: solid yellow;
}

.img{
    background-size: contain;
}